<!--
FIXME on the /relation screen the sidebar has a different width than on the /people screen
it is a really small difference but id kinda bothers me lol
-->

<div class="flex flex-wrap bg-gray-100 w-full h-screen">
  <div class="w-3/12 bg-white rounded p-3 h-full z-10">
    <div class="fixed">
      <div class="flex items-center space-x-4 p-2 mb-5">
        <img class="h-12 rounded-full" src="./assets/bonsai.png" alt="Bonsai Icon">
        <div>
          <h4 class="font-semibold text-lg text-gray-700 capitalize font-poppins tracking-wide">Family Tree</h4>
        </div>
      </div>
      <ul class="space-y-2 text-sm">
        <li>
          <a routerLink="/relations"
             class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                    <span class="text-gray-600">
                        <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
                        </svg>
                    </span>
            <span>Relations</span>
          </a>
        </li>
        <li>
          <a routerLink="/people"
             class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                    <span class="text-gray-600">
                        <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                        </svg>
                    </span>
            <span>People</span>
          </a>
        </li>
        <li>
          <a routerLink="/person/add"
             class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                    <span class="text-gray-600">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                           stroke="currentColor"
                           class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                      </svg>
                    </span>
            <span>Add Person</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--  <div class="text-center bottom-0 absolute w-3/12 px-10">-->
  <!--    <hr class="m-0">-->
  <!--    <p class="py-2 text-sm text-gray-700">DBI 5AHIF 2022/23</p>-->
  <!--  </div>-->

  <div class="w-9/12 bg-gray-100">
    <router-outlet></router-outlet>
  </div>
</div>
