<div class="divide-y divide-double">
  <div>
    <h1 class="text-gray-900 text-4xl font-medium mb-2 pl-10 pt-10">Person List</h1>
  </div>

  <div>


    <div *ngFor="let person of personList" class="flex left-2 m-10">
      <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg w-full">
        <img *ngIf="person.sex != null && (person.sex.toLowerCase() === 'male' || person.sex.toLowerCase() == 'm')"
             class=" w-full md:h-auto object-cover md:w-48 md:h-48 rounded-t-lg md:rounded-none md:rounded-l-lg"
             src="./assets/man.png" alt=""/>
        <img *ngIf="person.sex != null && (person.sex.toLowerCase() === 'female' || person.sex.toLowerCase() === 'f')"
             class=" w-full md:h-auto object-cover md:w-48 md:h-48 rounded-t-lg md:rounded-none md:rounded-l-lg"
             src="./assets/woman.png" alt=""/>
        <img *ngIf="person.sex == null || (person.sex.toLowerCase() === 'other' || person.sex.toLowerCase() === 'o')"
             class=" w-full md:h-auto object-cover md:w-48 md:h-48 rounded-t-lg md:rounded-none md:rounded-l-lg"
             src="./assets/bigender.png" alt=""/>
        <div class="p-6 flex flex-col justify-start">
          <h5 class="text-gray-900 text-xl font-medium mb-2">{{person.firstname}} {{person.lastname}}</h5>
          <!--          <p class="text-gray-700 text-base mb-4">-->
          <!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quae.-->
          <!--          </p>-->
          <p class="text-gray-700 text-base mb-4">
            Sex: {{ getSexString(person) }}
          </p>
          <div class="mb-4">
            <p class="text-gray-700 text-base">
              <ng-container *ngIf="mother[person.id!]">
                Mother: {{mother[person.id!]?.firstname}} {{mother[person.id!]?.lastname}}
              </ng-container>
              <ng-container *ngIf="!mother[person.id!]">
                Mother: Unknown
              </ng-container>
            </p>
            <p class="text-gray-700 text-base">
              <ng-container *ngIf="father[person.id!]">
                Father: {{father[person.id!]?.firstname}} {{father[person.id!]?.lastname}}
              </ng-container>
              <ng-container *ngIf="!father[person.id!]">
                Father: Unknown
              </ng-container>
            </p>
          </div>
          <div class="flex space-x-1">
            <!--      <p class="text-gray-600 text-xs">Last updated 3 mins ago</p>-->
            <button [routerLink]="'/persons/'+person.id" type="button"
                    class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
              Detail
            </button>
            <button (click)="deletePerson(person)" type="button"
                    class=" inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--FAB-->
<button
  [routerLink]="'/persons/add'"
  class="fixed bottom-0 right-0 p-0 m-10
  w-12 h-12 bg-blue-600 rounded-full hover:bg-blue-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
  <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-6 h-6 inline-block">
    <path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                                    C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                                    C15.952,9,16,9.447,16,10z"/>
  </svg>
</button>
